/* El contenedor principal del modal */
.simplemodal {
    position: fixed; /* Posiciona el modal en la parte superior de la página */
    z-index: 1000; /* Asegura que el modal se muestre por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* El modal ocupa todo el ancho de la página */
    height: 100%; /* El modal ocupa todo el alto de la página */
    overflow: auto; /* Permite el desplazamiento si el contenido es más grande que el modal */
    background-color: rgb(
        0,
        0,
        0,
        0.4
    ); /* Color de fondo del modal con opacidad */
    display: none; /* El modal está oculto por defecto */
}

/* El contenido del modal */
.simplemodal .simplemodal-content {
    background-color: #fefefe; /* Color de fondo del contenido */
    margin: 10% auto; /* Centra el contenido verticalmente */
    border: 1px solid #888; /* Borde alrededor del contenido */
    max-width: 100%; /* El contenido no puede ser más ancho que la página */
    width: 90%; /* El contenido ocupa el 90% del ancho de la página */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
    position: relative; /* Posiciona el contenido relativo a su contenedor */
}

/* El botón de cierre */
.simplemodal .close {
    color: #aaa; /* Color del botón de cierre */
    font-size: 28px; /* Tamaño de la fuente del botón de cierre */
    font-weight: bold; /* Fuente en negrita */
    position: absolute; /* Posiciona el botón de cierre en la esquina superior derecha */
    top: -10px;
    right: 0;
}

/* Cambia el color del botón de cierre al pasar el cursor sobre él */
.simplemodal .close:hover,
.simplemodal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* El contenido del bloque dentro del modal */
.simplemodal .simplemodal-content .simplemodal-block-content {
    margin: 2rem; /* Margen alrededor del contenido del bloque */
}

/* La casilla de verificación "No mostrar" */
.simplemodal .dontshowFeature {
    position: absolute; /* Posiciona la casilla de verificación en la parte inferior izquierda */
    bottom: 0.5rem;
    left: 2rem;
}

/* Añade una sombra al pasar el cursor sobre la casilla de verificación "No mostrar" */
#dontshow:hover {
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.2);
}

/* Centra el texto y añade márgenes a los elementos de la lista de productos */
div li.product-item {
    text-align: center;
    margin-left: 4%;
    margin-right: auto;
}
