<h1><?= __("Welcome") ?></h1>
<p>
    <a href="<?php $block->getLandingUrl(); ?>"><?= __("go to Landing") ?></a>
</p>
<p>
    <a href="<?php $block->getRedirectUrl(); ?>"><?= __("go to landing URL") ?></a>
</p>
