<?php

/** @var \BicicletasMilan\BackendDev\Block\Template $block */
?>
<table aria-describedby="sample">
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    <?php foreach ($block->getDemoItems() as $item) : ?>
        <tr>
            <td><?php echo $item->getId(); ?></td>
            <td><?php echo $item->getTitle(); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
