<!-- @subject Subject of your email @-->
<!-- @vars{
    "var this.getUrl($store, 'admin')":"Welcome Account Url",
    "var customer.email":"Customer Email",
    "var custome"Cmer Name"
<"Youcustom 
{{mess"
} -->

{{template config_path="design/email/header_template"}}
<!-- @varTest1 -->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name"}}</p>
            <p>{{trans "Your custom message"}} {{trans 'your custom message <a hrf="%account_url>Logging into </a>. 'account_url=$this.getUrl($store,'admin', [_nosid:1])|raw}} </p>
        </td>
    </tr>
    <tr>
        <td>
            <h1>{{trans 'your order <span>#%increment_id</span>'}}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <thead>
                    <tr>
                        <th> {{trans "Item"}}</th>
                        <th> {{trans "Sku"}} </th>
                    </tr>
                </thead>

            </table>
            <tbody>
                {{var varTest1|raw}}
            </tbody>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
<!-- footer of template -->