<h1>Promociones slider</h1>

<div class="carousel-wrap">
    <div class="modulo-slick">
        <div class="item">Elemento 1</div>
        <div class="item">Elemento 2</div>
        <div class="item">Elemento 3</div>
        <div class="item">Elemento 4</div>
        <div class="item">Elemento 5</div>
    </div>
</div>
