/* Definición de colores */
@color_1: #fff;
@color_2: #000;
@color_3: #757575;
@color_4: #bbb;
@color-white: #fff;
@cookbook_dark_color: #3c4939;
@color_wround: #3c4939;

/* Configuración del encabezado de la página */
.page-header {
    border: 0;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: @color-white;

    .panel.wrapper {
        background-color: @cookbook_dark_color !important;

        li {
            a {
                color: @color_wround;
            }

            a.action.primary.continue {
                color: whitesmoke;
            }
        }
    }

    .cart-summary {
        color: whitesmoke;
        background-color: #665;
    }
}

/* Configuración de la barra de búsqueda */
.block.block-search {
    width: 70%;

    #search {
        border-radius: 5px !important;
        height: 40px !important;
    }
}

/* Configuración del pie de página */
.page-footer {
    background-color: #323232;
    color: #fff;

    .footer.content {
        a {
            color: @color-white;
        }
    }

    .bugs {
        a {
            color: @color_3;
        }
    }
}

/* Configuración de los mensajes de éxito */
.example-message-success.success.message {
    div {
        a {
            color: @color_wround;
        }
    }
}

/* Configuración de las opciones de filtro y las acciones de revisión */
.filter-options,
.reviews-actions {
    a {
        color: @color_wround;
    }
}

/* Configuración de la etiqueta insignia */
.insignia-tag {
    filter: invert(1);
}

/* Configuración para pantallas con un ancho mínimo de 375px */
@media screen and (min-width: 375px) {
    .item.product.product-item {
        width: auto;
    }
    .page-header .header-content {
        padding: unset;

        .logo {
            margin-top: 2%;
        }
    }
}

/* Configuración de la acción de ver el carrito */
.action.viewcart {
    color: @color_wround;
}

.item.product.product-item {
    margin-left: 4%;

    .product.details.product-item-details {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Configuración del contenedor del carrito */
.cart-container .cart-summary {
    color: antiquewhite;
    background-color: #665;

    .action.multicheckout {
        color: #bbb;
    }
}

/* Configuración del mensaje de éxito */
.message.success a {
    color: darkviolet;
}

/* Configuración del panel del encabezado */
.panel.header {
    width: 40%;
    align-self: self-end;

    .header.links {
        a {
            color: beige;
        }

        span {
            color: beige;
        }
    }
}

/* Configuración del encabezado de las redes */
.header.redes {
    width: 12%;
    margin-left: 40%;
    padding-top: 10px;
    padding-bottom: 0;
    height: 30px;

    ul {
        list-style: none;
        overflow: hidden;
        width: 5%;
        margin: 0 0;
        padding: 0 0;

        li {
            float: left;
            padding-left: 20px;

            a i {
                font-size: 20px;
            }
        }
    }
}

/* Configuración del contenido colapsable */
.content.block-collapsible-nav-content {
    background-color: #d3d3d3;

    li.nav.item:hover {
        background-color: #757575;
        color: @cookbook_dark_color;
    }
}

/* Configuración del encabezado de descuento */
#block-discount-heading {
    color: @cookbook_dark_color;
}

@base-color: #333;

.contact-section {
    color: @base-color;
    font-family: Arial, sans-serif;
}

.important-section {
    font-weight: bold;
}

.info-block {
    padding: 10px;
}

.info-title {
    font-size: 1.2em;
    font-weight: bold;
}

.info-box {
    padding-top: 10px;
}

.box-header {
    font-size: 1.1em;
    font-weight: bold;
}

.phone-number {
    font-weight: bold;
}
.delimiter {
    color: #323232;
}
