h1,
.ui-menu-item {
    font-family: "Pacifico", cursive !important;
}
h1 {
    text-align: center;
}
.price-box.price-final_price {
    span.price-container.price-final_price.tax.weee {
        span.price {
            font-family: "Pacifico", cursive;
        }
    }
}

.product.photo.product-item-photo {
    border: 1px solid #ffe7ef;
    display: block;
}
span.insignia-tag {
    border: 1px solid #ededed;
    position: relative;
    font-weight: bold;
    color: #fff;
    background-color: #fb3775;
    width: 80%;
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
}
span.bulet {
    font-weight: bold;
    border: 1px solid #fbefef;
    display: block;
    width: 10%;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 102;
    margin-left: 17%;
}

button.action.tocart.primary {
    background-image: linear-gradient(to bottom right, blue, black);
}
#switcher-language-trigger {
    strong {
        span {
            color: @bookstore-background;
        }
    }
}
div.products.wrapper.grid.products-grid {
    .product-item-info {
        background-color: #dbdbdb;
        .product.details.product-item-details {
            padding: 10px 10px;
            align-content: center;
            justify-self: center;
        }
    }
    .product-item-info:hover {
        background-color: @color-white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.2);
        .product.details.product-item-details {
            border-top: 1px solid rgb(187, 187, 187);
        }
    }
    .product.photo.product-item-photo {
        display: block;
        border: none;
    }
    .product-item-info a.product-item-link {
        display: block;
        color: #585858;
    }
}
.product-item-info .product.details.product-item-details {
    border: 1px solid #fbfbfb;
    padding: 10px 10px;
    background-color: #efefef;
}
.product-item-info button.action.tocart.primary {
    background-color: #000;
    border: 1px solid white;
}
.product-item-info a.product-item-link {
    font-weight: 200;
    display: block;
    color: #585858;
}
.page-products.catalog-category-view.page-layout-2columns-left .page-main {
    width: 80%;
}
@color_wround: #3c4939;

@cookbook_dark_color: #1f1d1f;
.maincontent {
    margin: auto;
    min-width: 90%;
    .column.main {
        margin: auto;
        text-align: center;
        a {
            color: @color_wround;
        }
    }
}
.opc-progress-bar-item {
    color: #796767;
}

.breadcrumbs {
    .items {
        li {
            strong {
                color: #995353;
            }
        }
    }
}

@bookstore-background: #efefef;
@primary__color: @color-black;
@page__background-color: @bookstore-background;
@sidebar__background-color: @color-gray40;
@border-color__base: @color-gray76;
@link__color: @color_wround;
@link__hover__color: @color-gray60;
