<?php
/**
 * Promo view template
 * @var $block BicicletasMilan\CustomerInfoDisplay\Block\CustomerInfoDisplay
 */
?>

<?php if( $block->getCustomerName() != "" && $block->getCustomerName() != null):?>
<head>
    <title>CustomerInfoDisplay</title>
    <meta name="title" content="CustomerInfoDisplay"/>
</head>
<script>
    console.log("<?php echo (string)$block->getCustomerName();?>")
</script>
<h1 style="text-align :center;">
Hola
<?php echo $block->getCustomerName(); ?>
</h1>
<p style="text-align :center;">Bienvenido a Rutavity</p>
<?php else: ?>
<h1 style="text-align :center;">
Oh no! aun no inicias session
</h1>
<?php endif; ?>
